<div class="popup overlay" id="deliveryPopup">
  <div class="popup-inner">
    <div class="popup-content left">
    	<a class="popup-close" data-close aria-label="Close popup">Close</a>
      	<p>Delivery times currently unavailable for this product.</>
    </div>
  </div>
</div>