<div class="product-recommendations" data-product-id="{{ product.id }}" data-limit="4">
  {%- if recommendations.products_count > 0 and section.settings.product_recommendations_show -%}
    <div class="page-width">
      <h4 class="center">You may also like</h4>
      <div class="grid grid--no-gutters grid--recommendations" id="collection-list-grid" data-number-rows="{{ number_rows }}">
        {%- for product in recommendations.products -%}
          <div class="grid__item one-half medium-up--one-quarter">
            {% include 'product-card', product: product %}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <br>
    <br>
  {%- endif -%}
</div>

{% javascript %}
  var loadProductRecommendationsIntoSection = function() {
    // Look for an element with class 'product-recommendations'
    var productRecommendationsSection = document.querySelector(".product-recommendations");
    if (productRecommendationsSection === null) { return; }
    // Read product id from data attribute
    var productId = productRecommendationsSection.dataset.productId;
    // Read limit from data attribute
    var limit = productRecommendationsSection.dataset.limit;
    // Build request URL
    var requestUrl = "/recommendations/products?section_id=product-recommendations&limit="+limit+"&product_id="+productId;
    // Create request and submit it using Ajax
    var request = new XMLHttpRequest();
    request.open("GET", requestUrl);
    request.onload = function() {
      if (request.status >= 200 && request.status < 300) {
        var container = document.createElement("div");
        container.innerHTML = request.response;
        productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-recommendations").innerHTML;
      }
    };
    request.send();
  };
  // If your section has theme settings, the theme editor
  // reloads the section as you edit those settings. When that happens, the
  // recommendations need to be fetched again.
  // See https://help.shopify.com/en/themes/development/sections/integration-with-theme-editor
  document.addEventListener("shopify:section:load", function(event) {
    if (event.detail.sectionId === "product-recommendations") {
      loadProductRecommendationsIntoSection();
    }
  });
  // Fetching the recommendations on page load
  loadProductRecommendationsIntoSection();
{% endjavascript %}


{% schema %}
{
  "name": {
    "en": "Product Recommendations"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_recommendations_show",
      "label": {
        "en": "Show recommended products"
      },
      "info": {
        "en": "Shows recommended products on the product page using Shopiy's recommendation algorithm."
      },
      "default": false
    }
  ]
}
{% endschema %}